<footer class="bg-[#0a2f5c] text-white py-12 px-4 sm:px-6 lg:px-8">
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 md:gap-6 lg:gap-8 max-w-7xl">

        <div class="space-y-4 text-center sm:text-left">
            <h3 class="text-xl font-bold font-sans">Nirvesh Enterprises</h3>
            <p class="text-white font-sans font-semibold text-lg  leading-relaxed"> Follow Us
            </p>
            <div class="flex gap-6 mt-4 justify-center sm:justify-start"> <a href="#"
                    class="text-white hover:text-gray-300 transition-colors duration-200"><i
                        class="bi bi-robot text-3xl"></i></a>
                <a href="#" class="text-white hover:text-gray-300 transition-colors duration-200"><i
                        class="bi bi-instagram text-3xl"></i></a>
                <a href="#" class="text-white hover:text-gray-300 transition-colors duration-200"><i
                        class="bi bi-facebook text-3xl"></i></a>
                <a href="#" class="text-white hover:text-gray-300 transition-colors duration-200"><i
                        class="bi bi-twitter text-3xl"></i></a>
            </div>
        </div>

        <div class="space-y-4 text-center sm:text-left">
            <h3 class="text-xl font-bold font-sans">Why Us</h3>
            <ul class="space-y-4 sm:space-y-2">
                <li *ngFor="let item of whyUsLinks">
                    <a [routerLink]="item.link"
                        class="flex items-center justify-center sm:justify-start text-white font-sans hover:text-gray-300 text-sm transition-colors duration-200 gap-2">
                        <i class="bi bi-chevron-right text-sm"></i>
                        {{ item.label }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="space-y-4 text-center sm:text-left">
            <h3 class="text-xl font-bold">Quick Links</h3>
            <ul class="space-y-4 sm:space-y-2">
                <li *ngFor="let item of quickLinks">
                    <a [routerLink]="item.link"
                        class="flex items-center justify-center sm:justify-start text-white font-sans hover:text-gray-300 gap-2 text-sm transition-colors duration-200">
                        <i class="bi bi-chevron-right text-sm"></i>
                        {{ item.label }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="space-y-4 text-center sm:text-left">
            <h3 class="text-xl font-bold font-sans">Company</h3>
            <ul class="space-y-4 sm:space-y-2">
                <li *ngFor="let item of companyLinks">
                    <a [routerLink]="item.link"
                        class="flex items-center justify-center gap-2 sm:justify-start text-white font-sans hover:text-gray-300 text-sm transition-colors duration-200">
                        <i class="bi bi-chevron-right text-sm"></i>
                        {{ item.label }}
                    </a>
                </li>
            </ul>
        </div>

    </div>
</footer>

<div class="bg-white py-4">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
        <p class="text-black text-sm text-center md:text-left"> © Copyright Nirvesh Enterprises. All Rights Reserved
            2024
        </p>
    </div>
</div>