<section class="bg-[#003366] m-10 rounded-2xl relative overflow-hidden py-20">
    <div class="container mx-auto px-4 relative z-10 py-12">
        <h1 class="text-6xl font-bold text-white text-center">The Science</h1>
    </div>
    <div class="absolute inset-0">
        <img src="assets/bg-splines.png" alt="" class="w-full h-full object-cover ">
    </div>
</section>

<section class="w-[90%] mx-auto  rounded-2xl mb-10">
    <div class="container mx-auto  sm:px-6 lg:px-8 relative z-10">
        <!--1st row-->
        <div class="flex flex-col md:flex-row items-stretch  mb-0">
            <div class="bg-[#16205B] w-full md:w-1/2 p-4 rounded-l-full rounded-tr-full">
                <div class=" p-4 bg-white rounded-full shadow-md
            flex flex-col sm:flex-row items-center gap-4">
                    <div class="text-center sm:text-left flex-1 pl-4">
                        <h3 class="text-2xl md:text-3xl font-bold text-[#16205B] mb-2">Brain Analysis</h3>
                        <p class="text-gray-700 text-sm md:text-base leading-relaxed">
                            EEG examines cortex areas: occipital (visual), parietal (coordination), temporal, and
                            frontal (processing) to understand brain activity and responses.
                        </p>
                    </div>
                    <img src="assets/brain-analysis.png" alt="Brain Analysis"
                        class="rounded-full w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48 object-cover shadow-lg flex-shrink-0">
                </div>
            </div>
            <div class="bg-[#16205B] w-full md:w-1/2  rounded-r-full rounded-tl-full">
                <div class="w-full h-full hidden md:block bg-white rounded-full ">
                </div>
            </div>
        </div>


        <!--2nd row-->
        <div class="flex flex-col md:flex-row items-stretch  mb-0">
            <div class="bg-[#16205B] w-full md:w-1/2  rounded-l-full ">
                <div class="w-full h-full hidden md:block bg-white rounded-full ">
                </div>
            </div>
            <div class="bg-[#16205B] w-full md:w-1/2 p-4 rounded-r-full">
                <div class=" p-4 bg-white rounded-full shadow-md
                        flex flex-col sm:flex-row items-center  relative">
                    <img src="assets/fMRI.png" alt="FNIRS Insights"
                        class="rounded-full w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48 object-cover shadow-lg flex-shrink-0 order-2 sm:order-1">
                    <div class="text-center sm:text-left flex-1 order-1 sm:order-2 pl-4">
                        <h3 class="text-2xl md:text-3xl font-bold text-[#16205B] mb-2">fNIRS Insights</h3>
                        <p class="text-gray-700 text-sm md:text-base leading-relaxed">
                            fNIRS uses near-infrared spectroscopy to evaluate cerebral oxygenation by detecting
                            oxyhaemoglobin and deoxyhaemoglobin levels, analyzing cerebral functions.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!--3rd row-->
        <div class="flex flex-col md:flex-row items-stretch mb-0">
            <div class="bg-[#16205B] w-full md:w-1/2 p-4  rounded-l-full ">
                <div class=" p-4 bg-white rounded-full
                        flex flex-col sm:flex-row items-center gap-4">
                    <div class="text-center sm:text-left flex-1 pl-4">
                        <h3 class="text-2xl md:text-3xl font-bold text-[#16205B] mb-2">Brain Injury</h3>
                        <p class="text-gray-700 text-sm md:text-base leading-relaxed">
                            Mental health impacts social functioning; brain injury research aims to dispel the notion of
                            incurable conditions and improve understanding.
                        </p>
                    </div>
                    <img src="assets/brain-injury.png" alt="Brain Injury"
                        class="rounded-full w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48 object-cover shadow-lg flex-shrink-0">

                </div>
            </div>
            <div class="bg-[#16205B] w-full md:w-1/2  rounded-r-full">
                <div class="w-full h-full hidden md:block bg-white rounded-full ">
                </div>
            </div>
        </div>


        <!--4th row-->
        <div class="flex flex-col md:flex-row items-stretch mb-0">
            <div class="bg-[#16205B] w-full md:w-1/2  rounded-l-full ">
                <div class="w-full h-full hidden md:block bg-white rounded-full ">
                </div>
            </div>
            <div class="bg-[#16205B] w-full md:w-1/2 p-4 rounded-r-full">
                <div class=" p-4 bg-white rounded-full shadow-md
                        flex flex-col sm:flex-row items-center  relative">
                    <img src="assets/neuro.png" alt="Neuro Nurturing"
                        class="rounded-full w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48 object-cover shadow-lg flex-shrink-0 order-2 sm:order-1">
                    <div class="text-center sm:text-left flex-1 order-1 sm:order-2 pl-4">
                        <h3 class="text-2xl md:text-3xl font-bold text-[#16205B] mb-2">Neuro Nurturing</h3>
                        <p class="text-gray-700 text-sm md:text-base leading-relaxed">
                            Neuroscience advances nurture brain cells post-accidents. Neuropsychologists diagnose brain
                            injuries, addressing cognitive issues like depression, anxiety, and emotional regulation.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!--5th row-->
        <div class="flex flex-col md:flex-row items-stretch  mb-0">
            <div class="bg-[#16205B] w-full md:w-1/2 p-4  rounded-l-full ">
                <div class=" p-4 bg-white rounded-full
                        flex flex-col sm:flex-row items-center gap-4">
                    <div class="text-center sm:text-left flex-1 pl-4">
                        <h3 class="text-2xl md:text-3xl font-bold text-[#16205B] mb-2">Tech Advances</h3>
                        <p class="text-gray-700 text-sm md:text-base leading-relaxed">
                            Modern medicine uses Brain-Computer Interface to analyze brain signals, aiding conditions
                            like paralysis and Parkinson's, showcasing neurological advancements.
                        </p>
                    </div>
                    <img src="assets/tech-adv.png" alt="Tech Advances"
                        class="rounded-full w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48 object-cover shadow-lg flex-shrink-0">

                </div>
            </div>
            <div class="bg-[#16205B] w-full md:w-1/2  rounded-r-full">
                <div class="w-full h-full hidden md:block bg-white rounded-full ">
                </div>
            </div>
        </div>
        <!--6th row-->
        <div class="flex flex-col md:flex-row items-stretch ">
            <div class="bg-[#16205B] w-full md:w-1/2  rounded-l-full rounded-br-full">
                <div class="w-full h-full hidden md:block bg-white rounded-full ">
                </div>
            </div>

            <div class="bg-[#16205B] w-full md:w-1/2 p-4 rounded-r-full rounded-bl-full">
                <div class=" p-4 bg-white rounded-full shadow-md
                        flex flex-col sm:flex-row items-center  relative">

                    <img src="assets/neurotech.png" alt="Neurotech Growth"
                        class="rounded-full w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48 object-cover shadow-lg flex-shrink-0 order-2 sm:order-1">
                    <div class="text-center sm:text-left flex-1 order-1 sm:order-2 pl-4">
                        <h3 class="text-2xl md:text-3xl font-bold text-[#16205B] mb-2">Neurotech Growth</h3>
                        <p class="text-gray-700 text-sm md:text-base leading-relaxed">
                            Neurotechnology will dominate healthcare, potentially reaching USD 40 billion. Key areas
                            include neuroprosthetics, neuromodulation, and neurosensing, promising significant impact.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>